*{
    box-sizing: border-box;
}

:root{

    --color: #031926;
    --background-color: #468189;

    --page-width: 80vw;

    --font-size: 1.2rem;
    --font-weight: 500;

    --grid-row-gap: 1.25rem;
    --grid-col-gap: 1.25vw;

    --nav-top-m: 0.66rem;

}

body{
    
    font-family: "Georgia", sans-serif;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    
    width: var(--page-width);
    margin: 0 auto;
    color: var(--color);
    background-color: var(--background-color);
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: var(--nav-top-m);

}

nav a{

    text-decoration: none;
    color: var(--color);

}

.logo{

    font-size: 1.75rem;
    
}

.solo{

    width: calc(var(--page-width) - 5vw);

}

.gallery{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: var(--grid-row-gap) var(--grid-col-gap);

}

.gallery img{

    height: 100%;
    width: 100%;

}

.gallery > div{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

@media  screen and (max-width: 1150px) {
    
    :root{

        --page-width: 85vw;
        --font-size: 1.15rem;

    }
    
    .gallery{

        grid-template-columns: repeat(2, 1fr);

    }
    
}

@media  screen and (max-width: 800px) {
    
    :root{

        --font-size: 1.1rem;

    }
    
    .gallery{

        grid-template-columns: 1fr;

    }

    .logo{

        font-size: 1.5rem;

    }
    
}

@media screen and (max-width: 550px){
    
    :root{

        --font-size: 1.05rem;
    }

    .logo{

        font-size: 1.3rem;

    }
}

