*{
    box-sizing: border-box;
}

:root{

    --color: #f1f5f7;
    --background-color: #763a0f;
    --page-width: 80vw;
    --font-size: 1.35rem;
    --font-weight: 500;

    --nav-top-m: 0.66rem;

    --grid-row-gap: 1.25rem;
    --grid-col-gap: 1.25vw;

    --title-m-top: 7.5rem;
    --title-m-bot: 1.5rem;
    
    --footer-pad-top: 1.5rem;
    --footer-pad-bot: 1.5rem;
    --footer-link-colour: rgb(59, 133, 140);

    --nav-link-m-left: 1rem;

}

body{
    
    font-family: "Georgia", sans-serif;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    
    width: var(--page-width);
    margin: 0 auto;
    color: var(--color);
    background-color: var(--background-color);
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: var(--nav-top-m);

}

nav a{

    text-decoration: none;
    color: var(--color);
    margin-left: var(--nav-link-m-left);

}

nav a:hover{

    text-decoration: underline;

}

.logo{

    font-size: 1.75rem;
    
}

.title{
    
    text-align: center;
    margin-top: var(--title-m-top);
    margin-bottom: var(--title-m-bot);

}

footer{

    display: flex;
    justify-content: space-around;

    padding-top: var(--footer-pad-top);
    padding-bottom: var(--footer-pad-bot);

}

footer > div{

    display: flex;
    flex-direction: column;
    align-items: center;

}

footer a{

    text-decoration: none;
    color: var(--footer-link-colour);

}

@media  screen and (max-width: 1150px) {
    
    :root{

        --page-width: 85vw;
        --font-size: 1.15rem;

    }
    
    .gallery{

        grid-template-columns: repeat(2, 1fr);

    }
    
}

@media  screen and (max-width: 800px) {
    
    :root{

        --font-size: 1.1rem;

    }
    
    .gallery{

        grid-template-columns: 1fr;

    }

    .logo{

        font-size: 1.5rem;

    }
    
}

@media screen and (max-width: 550px){
    
    :root{

        --font-size: 1.05rem;
    }

    .logo{

        font-size: 1.3rem;

    }
}

